.navbar-nav{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-light .navbar-brand{
    
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;

}


.container{
    text-align: center;
    justify-content: space-between;
    
    
}

.title-index{
     
    font-size: 27px;
}

.card{
    background-color: rgb(231, 231, 231);
}

.card-title{
    text-align: center;
    text-decoration: underline;
}


.btn{
    background-color: grey;
}



nav{
  background:#171717;
  height: 80px;
  width: 100%;

}
 
.enlace{
  position: absolute;
  padding: 20px 50px;

}

nav ul{
  float: right;
  margin-right: 20px;
}
 
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;

}

nav ul li a{
  color: white;
  font-size: 15px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

li a.active, li a:hover{
  background: rgb(165, 163, 163);
  transition: .5s;
}

.checkbtn{
  font-size: 25px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

.enlace{
  color: white;
  font-size: 23px;
  display: inline-block;
  position: absolute;
  
}


/*nosotros*/

.nos{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  width: 650px;
  margin-top: 80px;
  margin-right: 500px;
  background-position: fixed;
}
.contenedor{
  display: flex;
  
}

.txt{
  font-size: 13px;
  
  

}

.qs{
  text-decoration: underline;
}

.sub{
  text-align: center;
}


.list {
  font-size: 16px;
  text-decoration: underline;
    
}

.sublist{
  text-decoration: underline;
}



/*Tramites*/


.btn{
    display: inline-block;
    margin-top: 7px;
    padding: 5px 5px;
    border: 2px solid rgb(92, 92, 92);
    color: white;
    text-decoration: none;
    background: rgb(70, 70, 70);
}

.box-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.box-container .box{
  height: 11rem;
  width: 17rem;
  text-align: center;
  border-radius: 1rem;
  margin: 2rem;
  background: #3f3f3f;
  
}

.box-container .box i {
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 50%;
  color: whitesmoke;
}
