.nos{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    width: 650px;
    margin-top: 80px;
    margin-right: 500px;
    background-position: fixed;
  }
  .contenedor{
    display: flex;
    text-align: center;
  
    
  }
  
  .txt{
    font-size: 13px;
    letter-spacing: 2px;
    
  
  }
  
  .qs{
    text-decoration: underline;
  }
  
  .sub{
    text-align: center;
    text-decoration: underline;
  }
  
  
  .list {
    font-size: 19px;
    text-decoration: underline;
    
      
  }
  
  .sublist{
    text-decoration: underline;
    font-size: 19px;
  }